<article>
    <form action="/auth/sessions/changePassword" method="post" enctype="application/x-www-form-urlencoded">
        <header>
            <h1>Cambiar contrase침a</h1>
        </header>
        <p>Te enviaremos el enlace para cambiar tu contrase침a a tu cuenta de correo electr칩nico.</p>
        <input type="email" placeholder="Correo electr칩nico actual" id="email" name="email" required>
        <button type="submit" class="buttonForm">Enviar correo</button>
    </form>
</article>