<article>
    <form action="/auth/sessions/login-github" method="post" enctype="application/x-www-form-urlencoded"
        class="PutEmail">
        <header>
            <h1>Asociar cuenta de GitHub con tu correo electrónico</h1>
        </header>
        <input type="email" placeholder="Your Email" id="email" name="email" required>
        <h6>Tu cuenta de GitHub no tiene un correo electrónico público, pero necesitamos uno para asociarlo en caso de
            que quieras iniciar sesión con otro método</h6>
        <button type="submit" class="buttonForm">Asociar correo electrónico</button>
    </form>
</article>