<article>
    <form action="/auth/sessions/trueChangePassword" method="post" enctype="application/x-www-form-urlencoded">
        <header>
            <h1>Restablecer tu contraseña</h1>
        </header>
        <input type="hidden" name="uid" value="{{ uid }}">
        <input type="password" placeholder="Nueva contraseña" id="password" name="password" required>
        <button type="submit" class="buttonForm">Cambiar</button>
    </form>
</article> 